* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto1";
    background-color: #f5f5f5;
}
.logo-svg {
    width: 101.49px;
    height: 36px;
    margin-top: 44px;
    margin-left: 121.51px;
}

.header-index {
    display: flex;
    flex-direction: row;
    position: relative;
}

.header-search {
    width: 690px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-style: 16px;
    line-height: 24px;
    background-color: white;
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
    margin-left: 102px;
    margin-top: 44px;
  }

.enter-button {
    background-color: #1890ff;
    display: flex;
    width: 96px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 2px;
    margin-left: 87px;
    margin-top: 44px;
    transition: all 50ms;
    position: relative;
    font-family: sans-serif;
}

.enter-button:hover {
    background-color: #0366c2;
    width: 116px;
}

.buy-button {
    background-color: white;
    display: flex;
    width: 105px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #595959;
    border: 1px solid;
    border-radius: 2px;
    border-color: #d9d9d9;
    margin-left: 10px;
    margin-top: 44px;
    font-family: sans-serif;
    transition: all 50ms;
}

.buy-button:hover {
    width: 130px;
    background-color: #8ee4af;
}

.container-promo {
    background-color: #FFF1B8;
    width: 1200px;
    height: 300px;
    margin-left: 120px;
    margin-top: 40px;
    background-image: url(images/382142-svetik-removebg-preview\ 1.svg);
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.promo-text_1 {
    font-size: 39px;
    font-weight: bold;
    font-family: "Roboto1";
    color: #302C34;
    margin-left: 70px;
    margin-top: 68px;
}
.promo-text_2 {
    font-size: 24px;
    font-family: "Roboto1";
    color: #302C34;
    margin-left: 70px;
    margin-bottom: 68px;
    bottom: 20px;
    position: relative;
}

@font-face {
    font-family:"Roboto1" ;
    src: url(fonts/Roboto-Regular.ttf);
}

.restaurant-title {
    margin-left: 120px;
    margin-top: 29px;
    font-size: 36px ;
    font-weight: bold;
    width: 190px;
    height: 42px;
    font-family: "roboto1";
}


.container_search_restaurants {
    display: flex;
}

.food-search {
    width: 306px;
    height: 34px;
    margin-left: 705px;
    margin-top: 32px;
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 32px;
    border: solid 2px #d9d9d9;
    border-radius: 2px;
}

.card-container {
    margin-top: 44px;
    display: flex;
    margin-left: 120px;
    flex-wrap: wrap;
    width: 1200px;
    height: 790px;
    justify-content: space-between;
}

.card {
    width: 384px;
    height: 379px;
    text-decoration: none;
    color: black;
    background-color: white;
}

.card-bottom {
    display: flex;
    width: 384px;
    height: 74px;
}

.card-time {
    background-color: #262626;
    width: 55px;
    height: 22px;
    margin-top: 25px;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
}

.card-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 259px;
    height: 32px;
    margin-left: 24px;
}   

.card-info {
   display: flex;
   margin-top: 10px;
   margin-left: 24px;
}

.card-rating {
    color: #ffc107;
    font-weight: bold;
}

.card-rating::before {
    content: url("images/Vectorstar.svg");
    margin-right: 8px;
}

.card-price {
    color: #8C8C8C;
    margin-left: 26px;
    display: flex;
    font-size: 18px;
}

.card-price-food::before {
    content: url(images/eclipse1.svg);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.footer-info {
    background-color: white;
    margin-top: 80px;
    height: 174px;
    display: flex;
}

.footer-logo {
    margin-top: 62px;
    margin-left: 121px;
    width: 100px;
    height: 43px;
}

.footer-links-container {
    display: flex;
    width: 420px;
    justify-content: space-between;
    margin-top: 86px;
    margin-left: 35px;
}

.footer-link {
    color: #595959;
    text-decoration: none;
    font-size: 18px;
}

.footer-social-container {
    width: 127px;
    height: 25px;
    margin-left: 515px;
    margin-top: 74px;
    justify-content: space-between;
    display: flex;
}