* {
    box-sizing: border-box;
}

.container {
    max-width: 1200;
    margin: 0 auto;
}
body {
    font-family: "Roboto1";
}

main {
    background-color: #f5f5f5;
}

.header-index {
    display: flex;
    justify-content: space-between;
}


.header-search {
    width: 690px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    font-style: 16px;
    line-height: 24px;
    background-color: white;
    background-image: url(images/Vector.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
  }

.header-box {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.header-box_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 892px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    width: 219px;
    align-items: center;
}


button:hover {
    background-color: #0366c2;
    width: 116px;
}

button {
    background-color: white;
    display: flex;
    width: 105px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 2px;
    border-color: #d9d9d9;
    font-family: sans-serif;
    transition: all 75ms;
    color: black;
}

.promo {
    background-color: #FFF1B8;
    width: 1200px;
    height: 300px;
    margin-top: 40px;
    background-image: url(../images/382142-svetik-removebg-preview\ 1.svg);
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.promo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-text_1 {
    font-size: 39px;
    font-weight: bold;
    font-family: "Roboto1";
    color: #302C34;
    margin-left: 70px;
    margin-top: 68px;
}
.promo-text_2 {
    font-size: 24px;
    font-family: "Roboto1";
    color: #302C34;
    margin-left: 70px;
    margin-bottom: 68px;
    bottom: 20px;
    position: relative;
}

@font-face {
    font-family:"Roboto1" ;
    src: url(../fonts/Roboto-Regular.ttf);
}

.restaurant-title {
    margin-top: 29px;
    font-size: 36px ;
    font-weight: bold;
    width: 190px;
    height: 42px;
    font-family: "roboto1";
}


.search_restaurants {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.search_restaurants-box {
    display: flex;
    justify-content: center;
}

.food-search {
    width: 306px;
    height: 34px;
    margin-top: 32px;
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 32px;
    border: solid 2px #d9d9d9;
    border-radius: 2px;
}

.cards {
    margin-top: 44px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 790px;
    justify-content: space-between;
}

.cards-box {
    display: flex;
    justify-content: center;
}

.card {
    width: 384px;
    height: 379px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 7px;
}

.card-bottom {
    display: flex;
    width: 384px;
    height: 74px;
}

.card-time {
    background-color: #262626;
    width: 55px;
    height: 22px;
    margin-top: 25px;
    color: white;
    border-radius: 2px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21px;
}

.card-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 259px;
    height: 32px;
    margin-left: 24px;
}   

.card-info {
   display: flex;
   margin-top: 10px;
   margin-left: 24px;
}

.card-rating {
    color: #ffc107;
    font-weight: bold;
}

.card-rating::before {
    content: url("images/Vectorstar.svg");
    margin-right: 8px;
}

.card-price {
    color: #8C8C8C;
    margin-left: 26px;
    display: flex;
    font-size: 18px;
}

.card-price-food::before {
    content: url(images/eclipse1.svg);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.footer-info {
    margin-top: 80px;
    height: 174px;
    display: flex;
    justify-content: center ;
}

.footer-box {
    display:flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.footer-box_left {
    display: flex;
    width: 556px;
    justify-content: space-between;
    align-items: center;
}

.footer-links-container {
    display: flex;
    width: 420px;
    justify-content: space-between;
}

.footer-link {
    color: #595959;
    text-decoration: none;
    font-size: 18px;
}

.footer-flex {
    display-flex;
    justify-content: center;
}

.footer-social-container {
    width: 127px;
    height: 25px;
    justify-content: space-between;
    display: flex;
}

.button-link {
    text-decoration: none;
    color: #595959;
}

.selected-restaurant {
    margin-top: 40px;
    display: flex;
    margin-left: 119px;
    align-items: center;
}

.selected-restaurant-name {
    font-size: 36px;
    font-weight: bold;
}

.selected-restaurant-rating {
    color: #ffc107;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
}

.selected-restaurant-rating::before {
    content: url(images/Vectorstar.svg);
    margin-right: 7px;
}

.selected-restaurant-price_1 {
    color: #8c8c8c;
    margin-left: 26px;
}
.selected-restaurant-price_2 {
    color: #8c8c8c;
}

.selected-restaurant-price_1::after {
    content: url(images/eclipse1.svg);
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 3px;
}

.card-info_food {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.card-name_food {
    font-size: 24px;
}

.card-text_food {
    color: #8C8C8C;
    font-size: 18px;
    margin-top: 10px;
}

.card-buy-button {
    width: 124px;
    height: 40px;
    background-color: #1890FF;
    margin-left: 24px;
    border: none;
    border-radius: 2px;
    margin-top: 24px;
    color: white;
    background-image: url(images/buy2.svg);
    background-position: left 92px center;
    background-repeat: no-repeat;
    text-align: left;
    padding-left:16px;
}

.card_food {
    width: 384px;
    height: 413px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 7px;
}

.card-container_food {
    margin-top: 45px;
    display: flex;
    margin-left: 120px;
    flex-wrap: wrap;
    width: 1200px;
    height: 859px;
    justify-content: space-between;
}

.card-price_food {
    font-size: 20px;
    font-weight: bold;
    margin-left: 32px;
    margin-top: 28px;
}
.links {
    text-decoration: none;
}

.footer-social-container_food {
    width: 127px;
    height: 25px;
    margin-left: 515px;
    margin-top: 55px;
    justify-content: space-between;
    display: flex;
}

.footer-info_food {
    background-color: white;
    margin-top: 115px;
    height: 151px;
    display: flex;
}